{% include '../_tpl/header.html' %}

{% for year, months in calendar %}

    {% for month, days in months %}
        <div class="content">

            <div class="block month">
                <div class="valign-helper"></div>
                <div class="valign-item">
                    <span class="name">
                        <b>{{ year }}</b>
                        {{ months_array_fr[ month - 1 ] }}
                    </span>
                </div>
            </div>

            {% set time = ( months_array_en[ month - 1 ] ~ ' ' ~ year )|date() %}
            {% set daysInMonth = time|date('t') %}

            {% for day in range( 1, daysInMonth + 1 ) %}

                {% set am  = false %}
                {% set pm  = false %}
                {% set night = false %}

                {% if days[ day ] != null %}

                    {# AM OFF #}
                    {% if days[ day ].am == false or days[ day ] == false %}
                        {% set am = 'off' %}
                    {% endif %}

                    {# PM OFF #}
                    {% if days[ day ].pm == false or days[ day ] == false %}
                        {% set pm = 'off' %}
                    {% endif %}

                    {# AM & PM Other project ( = OFF ) #}
                    {% if days[ day ] != project.abbr and days[ day ].am == null and days[ day ].pm == null %}
                        {% set am = 'off' %}
                        {% set pm = 'off' %}
                    {% endif %}

                    {# AM Other project ( = 0FF ) #}
                    {% if days[ day ].am != null or ( days[ day ].am != project.abbr and days[ day ].am != null ) %}
                        {% set am = 'off' %}
                    {% endif %}

                    {# PM Other project ( = 0FF ) #}
                    {% if days[ day ].pm != null or ( days[ day ].pm != project.abbr and days[ day ].pm != null ) %}
                        {% set pm = 'off' %}
                    {% endif %}

                    {# AM Current project #}
                    {% if days[ day ].am == project.abbr or days[ day ] == project.abbr %}
                        {% set am = 'on' %}
                    {% endif %}

                    {# PM Current project #}
                    {% if days[ day ].pm == project.abbr or days[ day ] == project.abbr %}
                        {% set pm = 'on' %}
                    {% endif %}

                    {# AM Reserved Current project #}
                    {% if days[ day ].am == '-' ~ project.abbr or days[ day ] == '-' ~ project.abbr %}
                        {% set am = 'reserved' %}
                    {% endif %}

                    {# PM Reserved Current project #}
                    {% if days[ day ].pm == '-' ~ project.abbr or days[ day ] == '-' ~ project.abbr %}
                        {% set pm = 'reserved' %}
                    {% endif %}

                    {% if days[ day ].night == project.abbr and days[ day ].night != null %}
                        {% set night = days[ day ].night %}
                    {% endif %}

                {% endif %}


                <div class="block day am-{{ am }} pm-{{ pm }}">
                    {% if night != false %}
                        <i class="icon icon-{{ night }}"></i>
                    {% endif %}
                    <div class="valign-helper"></div>
                    <div class="valign-item">
                        <span class="name">
                            <b>{{ day }}</b>
                            {% set name = ( day ~ ' ' ~ months_array_en[ month - 1 ] ~ ' ' ~ year )|date( 'w' ) %}
                            {{ days_array_fr[ name ] }}
                        </span>
                    </div>
                </div>

            {% endfor %}

        </div>
    {% endfor %}

{% endfor %}