{% set total = 0 %}

{% for months in calendar %}
    {% for days in months %}
        {% for day in days %}
            {% if day == project.abbr %}
                {% set total = total + 1 %}
            {% endif %}
            {% if day.am == project.abbr %}
                {% set total = total + 0.5 %}
            {% endif %}
            {% if day.pm == project.abbr %}
                {% set total = total + 0.5 %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

<header>
    {{ project.name }}
    <span>
        {{ total }} / {{ project.count }} {{ project.count > 1 ? 'jours' : 'jour' }}
    </span>
</header>