<div class="content">

    {% for year, months in calendar %}
        {% for month, days in months %}
        <div class="month">

            <div class="top-bar">
                <span class="valign-helper"></span>
                <span class="valign-item">{{ months_array_fr[ month - 1 ] }} 2016</span>
            </div>

            {% for d in 0..6 %}
            <div class="day name">
                <span class="valign-helper"></span>
                <span class="valign-item">{{ days_array_fr[ d ] }}</span>
            </div>
            {% endfor %}

            {% set time = ( months_array_en[ month - 1 ] ~ ' ' ~ year )|date() %}
            {% set daysInMonth = time|date('t') %}

            {% set total = 0 %}

            {% for index, day in range( 1, daysInMonth + 1 ) %}
                {% set name = ( day ~ ' ' ~ months_array_en[ month - 1 ] ~ ' ' ~ year )|date( 'w' ) %}
                {% set total = total + 1 %}

                {% if index == 0 and name > 0 %}
                    {% for void in 0..name-1 %}
                        {% set total = total + 1 %}
                        <div class="day">
                            <div class="am"></div>
                            <div class="pm"></div>
                        </div>
                    {% endfor %}
                {% endif %}

                {% set am    = null %}
                {% set pm    = null %}
                {% set night = null %}
                {% set abbr  = project.abbr %}

                {% set amSquareRight = null %}
                {% set amSquareLeft  = null %}
                {% set pmSquareRight = null %}
                {% set pmSquareLeft  = null %}

                {% set myrdv = null %}

                {# <!-- Set all day off --> #}
                {% if days[ day ] == false and days[ day ] is not null %}
                    {% set am = 'off' %}
                    {% set pm = 'off' %}
                {% endif %}

                {# <!-- Set AM off --> #}
                {% if days[ day ].am is not null and days[ day ].am == false %}
                    {% set am = 'off' %}
                {% endif %}

                {# <!-- Set PM off --> #}
                {% if days[ day ].pm is not null and days[ day ].pm == false %}
                    {% set pm = 'off' %}
                {% endif %}

                {# <!-- Set all day work --> #}
                {% if days[ day ] is not null and days[ day ] != false and days[ day ].am is null and days[ day ].pm is null %}
                    {% set am = 'true am-' ~ days[ day ] %}
                    {% set pm = 'true pm-' ~ days[ day ] %}
                    {% set amSquareRight = true %}
                    {% set pmSquareLeft = true %}

                    {% if days[ day + 1 ] == days[ day ] or days[ day + 1 ].am == days[ day ] %}
                        {% set pmSquareRight = true %}
                    {% endif %}

                    {% if days[ day - 1 ] == days[ day ] or days[ day - 1 ].pm == days[ day ] %}
                        {% set amSquareLeft = true %}
                    {% endif %}
                {% endif %}

                {# <!-- Set AM work --> #}
                {% if days[ day ].am is not null and days[ day ].am != false %}
                    {% set am = 'true am-' ~ days[ day ].am %}

                    {% if days[ day ].am == days[ day ].pm %}
                        {% set amSquareRight = true %}
                    {% endif %}

                    {% if days[ day ].am == days[ day - 1 ].pm or days[ day ].am == days[ day - 1 ] %}
                        {% set amSquareLeft = true %}
                    {% endif %}
                {% endif %}

                {# <!-- Set PM work --> #}
                {% if days[ day ].pm is not null and days[ day ].pm != false %}
                    {% set pm = 'true pm-' ~ days[ day ].pm %}

                    {% if days[ day ].pm == days[ day ].am %}
                        {% set pmSquareLeft = true %}
                    {% endif %}

                    {% if days[ day ].pm == days[ day + 1 ].am or days[ day ].pm == days[ day + 1 ] %}
                        {% set pmSquareRight = true %}
                    {% endif %}
                {% endif %}

                {# <!-- Set night work --> #}
                {% if days[ day ].night is not null and days[ day ].night != false %}
                    {% set night = 'true ' ~ days[ day ].night %}
                {% endif %}

                {# <!-- Set RDV --> #}
                {% if rdv[ year ][ month ][ day ] is not null %}
                    {# rdv[ year ][ month ][ day ] #}
                    {% set myrdv = true %}
                {% endif %}

                <div class="day am-{{ am }} pm-{{ pm }} am-square-right-{{ amSquareRight }} pm-square-left-{{ pmSquareLeft }} pm-square-right-{{ pmSquareRight }} am-square-left-{{ amSquareLeft }}" id="{{ year }}-{{ month }}-{{ day }}">

                    <div class="num">{{ day }}</div>
                    <div class="am"></div>
                    <div class="pm"></div>

                    {% if night is not null %}
                        <div class="night {{ night }}"></div>
                    {% endif %}

                    <div class="highlight"></div>

                    {% if myrdv is not null %}
                        <div class="rdv p-{{ rdv[ year ][ month ][ day ].period }}">
                            <div class="details">
                                <p class="title">
                                    {{ rdv[ year ][ month ][ day ].details.subject }}
                                </p>
                                <p class="address">
                                    <a href="https://www.google.fr/maps/place/{{ rdv[ year ][ month ][ day ].details.address }}"
                                       target="_blank">{{ rdv[ year ][ month ][ day ].details.place }}</a>
                                    | {{ rdv[ year ][ month ][ day ].details.hours }}
                                </p>
                                <p class="name">
                                    <a href="mailto:{{ rdv[ year ][ month ][ day ].details.mail }}">
                                        {{ rdv[ year ][ month ][ day ].details.person }}
                                    </a>
                                    | {{ rdv[ year ][ month ][ day ].details.phone }}
                                </p>
                            </div>
                        </div>
                    {% endif %}

                </div>

                {% if loop.last %}
                    {% for void in total..41 %}
                    <div class="day">
                        <div class="am"></div>
                        <div class="pm"></div>
                    </div>
                    {% endfor %}
                {% endif %}

            {% endfor %}

        </div>
        {% endfor %}
    {% endfor %}

</div>