//
// Colors
// ==========================================================================

$primary : #fff;
$red : #db5840;

$dark : #404040;
$bg  : darken( #fff, 5% );


// ==========================================================================
// Global
// ==========================================================================

body {
    text-align: left;
    font-family: $default;
    font-weight: 100;
    background: $bg;
    font-size: 14px;

    .valign-helper,
    .valign-item {
        display: inline-block;
        vertical-align: middle;
    }

    .valign-helper {
        height: 100%;
    }

    header {
        color: #fff;
        text-align: center;
        font-size: 2em;
        padding: 1em 0;
    }

    $s: 100vw / 20;
    $m: 20px;

    $sidebarW: 100vw / 5;

    .content {
        font-size: 0;
        padding: $s;
        box-sizing: border-box;
        position: absolute;
        left: $sidebarW;
        right: 0;
    }

    .month {
        width: $s * 7 * 2;
        margin: 0 auto $s auto;
        white-space: normal;
        position: relative;
        box-shadow: 0 8px 20px rgba( #000, .4 );
        perspective: 1000px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            height: $s / 2;
            width: 100%;
            background: darken( $primary, 15% );
            @include transform-origin( top );
            @include transform( rotateX( -65deg ) );
        }

        .top-bar {
            height: $s;
            min-height: 60px;
            background: #404040;
            width: 100%;
            font-size: 18px;
            color: rgba( #fff, .3 );
            text-align: center;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }

        .day {
            position: relative;
            text-align: center;
            color: rgba( #000, .5 );
            font-weight: 500;
            height: $s;
            min-height: 60px;
            width: calc( 100% / 7 );
            background: $primary;
            display: inline-block;
            border-top: solid 1px darken( $primary, 10% );
            overflow: hidden;

            &:nth-child( 7n + 2 ) {
                background: darken( $primary, 3% );
                &:after { display: none; }
            }

            &:nth-child( 37 ) {
                border-bottom-left-radius: 4px;
            }

            &:nth-child( 43 ) {
                border-bottom-right-radius: 4px;
            }

            &.name {
                padding: 0 5px;
                span { 
                    font-size: 14px;
                    @include ellipsis();
                }
                &:after { display: none; }
            }

            &:before,
            &:after {
                content: '';
                position: absolute;
                height: 100%;
                left: 0;
                z-index: 1;
            }

            &:before { border-right: solid 1px darken( $primary, 10% ); }
            &:after {
                border-right: dashed 1px darken( $primary, 10% );
                left: 50%;
            }

            .num {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 12px;
                padding: 5px 0 0 5px;
                z-index: 4;
            }

            .night {
                position: absolute;
                top: 3px;
                right: 3px;
                z-index: 3;
                width: $s / 3;
                height: $s / 3;
                background: $red;
                border: solid 2px #fff;
                border-radius: 50%;
            }

            .am,
            .pm {
                box-sizing: border-box;
                position: absolute;
                top: $m;
                bottom: $m;
                width: calc( 50% - #{$m} );
                z-index: 2;
                border-radius: 50px;
            }

            .am { left: $m / 2; }
            .pm { right: $m / 2; }

            &.am-true,
            &.am-true-res {
                .am { background: $red; }

                &.am-square-right-true {
                    .am {
                        width: calc( 50% - #{$m/2} );
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }
                }

                &.am-square-left-true {
                    .am {
                        left: 0;
                        width: calc( 50% - #{$m/2} );
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &.am-square-right-true {
                        .am {
                            width: 50%;
                        }
                    }
                }
            }

            &.pm-true,
            &.pm-true-res {
                .pm { background: $red; }

                &.pm-square-left-true .pm {
                    width: calc( 50% - #{$m/2} );
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                &.pm-square-right-true {
                    .pm {
                        right: 0;
                        width: calc( 50% - #{$m/2} );
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &.pm-square-left-true .pm {
                        width: 50%;
                    }
                }
            }

            &.am-true-res {
                .am {
                    background: $red;
                    opacity: .4;
                }
            }

            &.pm-true-res {
                .pm {
                    background: $red;
                    opacity: .4;
                }
            }

            &.am-off .am,
            &.pm-off .pm {
                top: 0;
                bottom: 0;
                background: darken( #fff, 5% );
                border-radius: 0;
                width: 50%;
            }
            &.am-off .am { left: 0; }
            &.pm-off .pm { right: 0; }

            .highlight {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba( $dark, .1 );
                border: solid 3px rgba( $dark, .3 );
                z-index: 3;
                opacity: 0;
                @include transition( opacity .5s );
            }

            &.current-day {
                .highlight { opacity: 1; }
            }

        }

    }

    .sidebar {
        position: fixed;
        left: 0;
        width: $sidebarW;
        background: $dark;
        height: 100%;
        overflow: auto;

        a { text-decoration: none; }

        .project {
            color: rgba( #fff, .5 );
            padding: 20px;
            border-bottom: solid 1px rgba( #fff, .1 );

            &:hover {
                background: darken( $dark, 2% );
            }

            p {
                font-size: 1em;
                line-height: 1.5em;

                &.title {
                    margin-bottom: .2em;
                    font-weight: 300;
                    color: #fff;
                }

                span {
                    color: rgba( #fff, .8 );
                }

                b {
                    width: 5em;
                    display: inline-block;

                    &:after {}
                }
            }

            .label {
                float: right;
                background: $red;
                color: #fff;
                padding: 5px 10px;
                margin-top: -5px;
                border-radius: 10px;
                text-shadow: 0 1px 2px rgba( #000, .4 );
            }
        }
    }
}


// ==========================================================================
// Responsive
// ==========================================================================

@media screen and ( max-width : 1200px ) {
    body {
        .content { left: 0; }

        .sidebar {
            @include transform( translate( -100%, 0 ) );
        }
    }
}

@media screen and ( max-width : 1024px ) {
    body {
        .month {
            width: 100%;
        }
    }
}

@media screen and ( max-width : 600px ) {
    body {
        .content { padding: 0; }
    }
}