{% if project.abbr == 'master' %}

    {% for p in projects %}
        body .month .day.am-true.{{ p.abbr }} .am,
        body .month .day.pm-true.{{ p.abbr }} .pm,

        body .month .day.am-true.am-{{ p.abbr }} .am,
        body .month .day.pm-true.pm-{{ p.abbr }} .pm,

        body .month .day.am-true.am--{{ p.abbr }} .am,
        body .month .day.pm-true.pm--{{ p.abbr }} .pm,

        body .month .day .night.{{ p.abbr }},

        body .sidebar .project .label.{{ p.abbr }}{
            background-color: {{ p.color }};
        }

        body .month .day.am-true.am--{{ p.abbr }} .am,
        body .month .day.pm-true.pm--{{ p.abbr }} .pm {
            opacity: .4;
        }
    {% endfor %}

{% else %}

    body .month .day.am-true .am,
    body .month .day.pm-true .pm,
    body .month .day.am-true-res .am,
    body .month .day.pm-true-res .pm,
    body .month .day .night,
    body .sidebar .project .label {
        background-color: {{ project.color }};
    }

{% endif %}