<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale = 1.0, width=device-width, user-scalable=no, maximum-scale=1">
        <meta name="HandheldFriendly" content="true"/>
        <meta name="apple-mobile-web-app-capable" content="yes">


        <title>Tracking</title>
        <meta name="description" content=""/>


        <!--[if lt IE 9]><script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script><![endif]-->
        <link rel="stylesheet" href="/build/css/main.css">
        <link rel="stylesheet" href="colors.css">

    </head>
    <body>

        {% set months_array_en = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ] %}
        {% set months_array_fr = [ 'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre' ] %}
        {% set days_array_fr = [ 'Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi' ] %}

        {% if project.abbr == 'master' %}
            {% include '../_tpl/master-calendar.html' %}
        {% else %}
            {% include '../_tpl/calendar.html' %}
        {% endif %}

        <script src="/build/js/libs.js"></script>
        <script src="/build/js/main.js"></script>
    </body>
</html>
